In [57]:
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)#to display complete dataframe
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [32]:
#Read the 'indice de cartera vencida' file, and set the col 0 ('Fecha') be the dataframe index.
indice_df = pd.read_excel('icv_mensual.xlsx', index_col=0)

In [20]:
indice_df.head()

            ICV_cartera_total
Fecha
2002-01-01           0.106834
2002-02-01           0.106372
2002-03-01           0.105889
2002-04-01           0.104348
2002-05-01           0.104370

In [97]:
#read the variables dataset
variables_df = pd.read_excel('variables_macro_trimestral.xlsx', index_col=0)

In [98]:
variables_df.head()

            Desempleo  IPC      TRM  Exportaciones  Importaciones  PIB
Fecha
2001-03-01   0.200207  NaN  2278.78            NaN            NaN  NaN
2001-06-01   0.181627  NaN  2305.66            NaN            NaN  NaN
2001-09-01   0.177623  NaN  2328.23            NaN            NaN  NaN
2001-12-01   0.166253  NaN  2306.90            NaN            NaN  NaN
2002-03-01   0.190028  NaN  2282.33            NaN            NaN  NaN

In [99]:
#add an incremental column number
variables_df['count'] = range(0, len(variables_df.index))
variables_df.head()

            Desempleo  IPC      TRM  Exportaciones  Importaciones  PIB  count
Fecha
2001-03-01   0.200207  NaN  2278.78            NaN            NaN  NaN      0
2001-06-01   0.181627  NaN  2305.66            NaN            NaN  NaN      1
2001-09-01   0.177623  NaN  2328.23            NaN            NaN  NaN      2
2001-12-01   0.166253  NaN  2306.90            NaN            NaN  NaN      3
2002-03-01   0.190028  NaN  2282.33            NaN            NaN  NaN      4

In [100]:
#regression between count and IPC
#The following code generates a df with the neccesary data to make the regression
ipc_model_data = variables_df[['count', 'IPC']][variables_df.IPC.notnull()]
ipc_model_data.head()

            count    IPC
Fecha
2003-03-01      8  51.51
2003-06-01      9  52.33
2003-09-01     10  52.53
2003-12-01     11  53.07
2004-03-01     12  54.71

In [101]:
#create x and y arrays, we must reshape it because LinearRegression() object only accepts array like
#imputs
x = ipc_model_data['count'].values.reshape(-1, 1)
y = ipc_model_data['IPC'].values.reshape(-1, 1)

In [102]:
#Create the Linear Regression model to estimate the missing data
regression_model = linear_model.LinearRegression()
#fit the model
regression_model.fit(X = x, y = y)

LinearRegression()

In [103]:
#generate the x values to be predicted (the 'count' values)
x_to_predict = variables_df['count'][variables_df.IPC.isnull()].values.reshape(-1,1)
x_to_predict

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7]])

In [104]:
#Fill the nulls with the predictions
predictions = regression_model.predict(x_to_predict)
#We need to transform the predictions array into a numeric list.
predictions = [float(i) for i in predictions]

In [110]:
df_with_predictions = variables_df.copy() #create a copy to save the predictions
df_with_predictions.IPC[variables_df.IPC.isnull()] = predictions
df_with_predictions

c:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Desempleo,IPC,TRM,Exportaciones,Importaciones,PIB,count
Fecha,,,,,,,
2001-03-01,0.200207,44.307221,2278.780000,NaN,NaN,NaN,0
2001-06-01,0.181627,45.076797,2305.660000,NaN,NaN,NaN,1
2001-09-01,0.177623,45.846372,2328.230000,NaN,NaN,NaN,2
2001-12-01,0.166253,46.615947,2306.900000,NaN,NaN,NaN,3
2002-03-01,0.190028,47.385523,2282.330000,NaN,NaN,NaN,4
2002-06-01,0.177497,48.155098,2364.250000,NaN,NaN,NaN,5
2002-09-01,0.179465,48.924673,2751.230000,NaN,NaN,NaN,6
2002-12-01,0.157456,49.694249,2814.890000,NaN,NaN,NaN,7
2003-03-01,0.177929,51.510000,2959.010000,NaN,NaN,NaN,8
2003-06-01,0.169987,52.330000,2826.950000,NaN,NaN,NaN,9
2003-09-01,0.169685,52.530000,2840.080000,NaN,NaN,NaN,10
2003-12-01,0.146136,53.070000,2807.200000,NaN,NaN,NaN,11
2004-03-01,0.171470,54.710000,2670.800000,NaN,NaN,NaN,12
2004-06-01,0.156928,55.510000,2716.560000,NaN,NaN,NaN,13
2004-09-01,0.148245,55.670000,2552.780000,NaN,NaN,NaN,14
2004-12-01,0.135502,55.990000,2411.370000,NaN,NaN,NaN,15
2005-03-01,0.157642,57.460000,2353.710000,NaN,NaN,119348.214241,16
2005-06-01,0.141191,58.180000,2331.790000,NaN,NaN,125126.320362,17
2005-09-01,0.137671,58.460000,2294.520000,NaN,NaN,128645.774953,18
2005-12-01,0.120417,58.700000,2278.910000,NaN,NaN,141732.690445,19
2006-03-01,0.140528,59.830000,2262.360000,NaN,NaN,127132.281125,20
2006-06-01,0.128122,60.480000,2542.240000,NaN,NaN,131831.671414,21
2006-09-01,0.126867,61.140000,2398.880000,NaN,NaN,138473.576475,22
2006-12-01,0.121301,61.330000,2261.335263,NaN,NaN,151997.470987,23
2007-03-01,0.132760,63.290000,2201.390000,NaN,NaN,135593.037146,24
2007-06-01,0.114821,64.120000,1923.760000,NaN,NaN,140734.411329,25
2007-09-01,0.109984,64.200000,2117.050000,NaN,NaN,147975.396010,26
2007-12-01,0.097803,64.820000,2014.201500,NaN,NaN,162154.155514,27
2008-03-01,0.122999,67.040000,1846.900000,NaN,NaN,142466.857638,28
2008-06-01,0.115746,68.730000,1712.280000,NaN,NaN,147479.821668,29
2008-09-01,0.115322,69.060000,2066.040000,NaN,NaN,152924.981855,30
2008-12-01,0.107456,69.800000,2252.720000,NaN,NaN,162841.338839,31
2009-03-01,0.139951,71.150000,2477.210000,7.577148e+06,7.972761e+06,142871.536475,32
2009-06-01,0.127834,71.350000,2090.040000,7.908173e+06,7.601266e+06,148238.145531,33
2009-09-01,0.129593,71.280000,1980.770000,8.368053e+06,8.468969e+06,153542.519909,34
2009-12-01,0.122637,71.200000,2017.050000,8.992953e+06,8.848136e+06,167963.798085,35
2010-03-01,0.136997,72.460000,1909.100000,9.120493e+06,8.768072e+06,147811.685525,36
2010-06-01,0.126683,72.950000,1925.900000,1.006494e+07,9.427709e+06,155186.837174,37
2010-09-01,0.123497,72.900000,1805.600000,9.720522e+06,1.089297e+07,159996.880843,38
2010-12-01,0.110289,73.450000,1925.860000,1.080738e+07,1.139681e+07,177155.596459,39
2011-03-01,0.133847,74.770000,1884.380000,1.261206e+07,1.209812e+07,157762.787549,40
2011-06-01,0.115132,75.310000,1782.540000,1.468554e+07,1.351943e+07,165412.017539,41
2011-09-01,0.106455,75.620000,1836.150000,1.439027e+07,1.427542e+07,172652.393620,42
2011-12-01,0.102916,76.190000,1934.080000,1.522706e+07,1.433960e+07,188800.801292,43
2012-03-01,0.122423,77.310000,1766.340000,1.549745e+07,1.404351e+07,166996.880473,44
2012-06-01,0.115187,77.720000,1792.630000,1.497774e+07,1.501825e+07,173577.620420,45
2012-09-01,0.108917,77.960000,1803.180000,1.445809e+07,1.511225e+07,176900.495398,46
2012-12-01,0.100771,78.050000,1793.940000,1.519190e+07,1.487367e+07,193940.003709,47
2013-03-01,0.123408,78.790000,1809.890000,1.413481e+07,1.417070e+07,171244.750204,48
2013-06-01,0.107815,79.390000,1909.500000,1.515280e+07,1.465959e+07,183008.770499,49
2013-09-01,0.100466,79.730000,1919.400000,1.448000e+07,1.523439e+07,187401.364043,50
2013-12-01,0.092255,79.560000,1934.080000,1.505877e+07,1.531653e+07,206284.115254,51
2014-03-01,0.113400,80.770000,2022.190000,1.348846e+07,1.475952e+07,182282.855721,52
2014-06-01,0.099622,81.610000,1888.100000,1.451736e+07,1.580166e+07,189638.379462,53
2014-09-01,0.095516,82.010000,1971.340000,1.493927e+07,1.677745e+07,195558.673756,54
2014-12-01,0.089040,82.470000,2344.230000,1.191167e+07,1.669025e+07,214109.091061,55
2015-03-01,0.106360,84.450000,2586.580000,9.539876e+06,1.411334e+07,187841.996658,56
2015-06-01,0.099295,85.210000,2554.940000,9.818198e+06,1.312191e+07,195888.917402,57
2015-09-01,0.095515,86.390000,3073.120000,8.810397e+06,1.390453e+07,202886.981012,58
2015-12-01,0.089194,88.050000,3244.510000,7.849050e+06,1.291783e+07,218074.104928,59
2016-03-01,0.115246,91.180000,3145.260000,6.582774e+06,1.057567e+07,191782.138326,60
2016-06-01,0.094518,92.540000,2991.680000,7.995775e+06,1.097182e+07,199892.399098,61
2016-09-01,0.098403,92.680000,2921.150000,8.109061e+06,1.152347e+07,205900.372193,62
2016-12-01,0.091795,93.110000,3009.530000,9.080730e+06,1.181842e+07,223914.090383,63
2017-03-01,0.116719,95.460000,2943.490000,8.801490e+06,1.130011e+07,193740.596535,64
2017-06-01,0.105734,96.230000,2958.360000,9.099040e+06,1.153960e+07,202490.254563,65
2017-09-01,0.105867,96.360000,2918.490000,9.706760e+06,1.166925e+07,209366.664215,66
2017-12-01,0.096316,96.920000,2991.420000,1.041457e+07,1.156210e+07,227058.484688,67
2018-03-01,0.119585,98.450000,2852.460000,9.717608e+06,1.145262e+07,197176.581350,68
2018-06-01,0.106279,99.310000,2893.220000,1.083788e+07,1.297785e+07,208084.238278,69
2018-09-01,0.102290,99.470000,3037.800000,1.082930e+07,1.297594e+07,215046.212869,70
2018-12-01,0.102671,100.000000,3212.480000,1.051999e+07,1.382416e+07,233292.967503,71
2019-03-01,0.127139,101.620000,3125.340000,9.594032e+06,1.255455e+07,203021.428083,72
2019-06-01,0.110434,102.710000,3256.020000,1.070752e+07,1.330062e+07,214490.693927,73
2019-09-01,0.105929,103.260000,3399.620000,9.587440e+06,1.367847e+07,222545.871203,74
2019-12-01,0.104290,103.800000,3383.000000,9.600172e+06,1.316899e+07,241371.216553,75
2020-03-01,0.125973,105.530000,3870.010000,8.800355e+06,1.188576e+07,205500.297889,76
2020-06-01,0.242754,104.970000,3693.000000,6.377268e+06,8.872744e+06,180494.328107,77
2020-09-01,0.208352,105.290000,3749.860000,7.681629e+06,1.069321e+07,202513.514575,78
2020-12-01,0.159177,105.480000,3468.500000,NaN,1.203695e+07,NaN,79

In [107]:
x1 = [1, 2]
x2 = [3, 4]
yi=x1+x2
yi

[1, 2, 3, 4]

In [39]:
#the .isnull() or .notnull() commands generate a series of 'TRUES' and 'FALSES' where the criteria
#is met. 
variables_df.loc[variables_df['IPC'].isnull(), 'IPC']

Fecha
2001-03-01   NaN
2001-06-01   NaN
2001-09-01   NaN
2001-12-01   NaN
2002-03-01   NaN
2002-06-01   NaN
2002-09-01   NaN
2002-12-01   NaN
Name: IPC, dtype: float64

In [36]:
variables_df['IPC'].isnull()

Fecha
2001-03-01     True
2001-06-01     True
2001-09-01     True
2001-12-01     True
2002-03-01     True
              ...
2019-12-01    False
2020-03-01    False
2020-06-01    False
2020-09-01    False
2020-12-01    False
Name: IPC, Length: 80, dtype: bool